<div class="traffic-light">
  <div class="light red" (click)="toggleLight('red')" [ngClass]="apiService.lightState.red"></div>
  <div class="light yellow" (click)="toggleLight('yellow')" [ngClass]="apiService.lightState.yellow"></div>
  <div class="light green" (click)="toggleLight('green')" [ngClass]="apiService.lightState.green"></div>
</div>
