.traffic-light
    background-color: black
    border-radius: 2em
    height: 30em
    margin: auto
    padding: 1em
    width: 10em

.light
    border-radius: 8em
    height: 8em
    margin: 1em
    opacity: 0.4
    width: 8em

.on
    opacity: 1.0

.red
    background-color: red

.yellow
    background-color: yellow

.green
    background-color: green
